html, body {
  margin: 0;
  padding: 0;
}

body{
  display:grid;
  grid-auto-flow:column;
  width:100vw;
  height:100vh;
  overflow:hidden;
}
.page{
  display:grid;
  place-items:center;
  width:100vw;
  height:100vh;
  position:fixed;
  left:-100vw;
  transition: all .5s .5s ease-in-out;
}

.menu{
  position:fixed;
  height:12vh;
  background:black;
  width:100vw;
  bottom:0;
  color:white;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
}


.menuItem{
  display:fixed;
  place-items:center;
  border:3px solid gray;
  cursor:solid;
  display:grid;
  place-items:center;
}
.show{
  transition: all .5s ease-in-out;
  left:0;
}
#page1{
  background:orange;
}

#page2{
  background:green;
}

#page3{
  background:yellow;
}

#page4{
  background:blue;
}
canvas {
  display: block;
}
