*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.page{
  position:fixed;
  top:0;
  left:-100vw;
  width:100vw;
  height:100vh;
  overflow:hidden;
  display:grid;
  place-items:center;
  transition:0.6s all ease-in-out;
}

.visible{
  left:0;
}

.box{
  width:80%;
  height:80%;
  display:grid;
  place-items:center;
  border:1px solid white;
}

#imagebox{
  background-image:url(./assets/emils\ flote\ flote\ julemand.png);
  background-size: cover;
}
#page1{
  background-color: lightskyblue;
}
#page2{
background-color: lightgoldenrodyellow;
}
#page3{
background-color: lightgreen;
}
#page4{
background-color: lightseagreen;
}

h1{
  color:hotpink;
  font-family:raleway;
}